version: "3.9"
services:
  fastapi_app:
    build: .
    container_name: fastapi_bot_deploy
    ports:
      - "8001:8001"
  db:
    image: postgres:15
    env_file:
      - .env  
    environment:
      POSTGRES_HOST: ${DB_HOST}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5439:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d:ro
  

volumes:
  pgdata:
